<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.turnkeyafrica.bankassurance">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.turnkeyafrica.bankassurance.TurnkeyBankAssuranceApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="n">
        <activity android:name="com.turnkeyafrica.bankassurance.ui.accountlocked.AccountLockedActivity"></activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.entersecurityquestions.EnterSecurityQuestionsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.successstep.SuccessStepActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.securityquestion.SecurityQuestionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.resetpassword.ResetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.forgotpassword.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.notificationdetails.NotificationDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.inbox.InboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.inbox.InboxActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.capturedamageimages.CaptureDamageImagesActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.enterclaimdetails.EnterClaimDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.enterclaimdetails.EnterClaimDetailsActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.enterrequestdetails.EnterServiceRequestDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.newrequest.NewRequestQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.newrequest.NewRequestQuestionActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.newrequest.NewRequestQuestionActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.servicerequests.ServiceRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.servicerequests.ServiceRequestActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.servicerequestdetails.ServiceRequestDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.servicerequests.ServiceRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.servicerequests.ServiceRequestActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.enterclaimdetails.EnterClaimDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.createrequest.CreateRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.createrequest.CreateRequestActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.inbox.InboxActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.servicerequests.ServiceRequestActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.confirmclaimdetails.ConfirmClaimDetailsActivity"
            android:label="@string/title_activity_confirm_claim_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.claimdetails.ClaimDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.claimdetails.ClaimDetailsActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.claimdetails.ClaimDetailsActivity"
            android:label="@string/title_activity_claim_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.createclaim.CreateClaimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.createclaim.CreateClaimActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.createclaim.CreateClaimActivity"
            android:label="@string/title_activity_create_claim"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.createrequest.CreateRequestActivity"
            android:label="@string/title_activity_create_claim"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.servicerequests.ServiceRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.servicerequests.ServiceRequestActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.branchdetails.BranchDetailsActivity"
            android:label="@string/title_activity_branch_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.certificatepickup.CertificatePickUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.certificatepickup.CertificatePickUpActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.certificatepickup.CertificatePickUpActivity"
            android:label="@string/title_activity_certificate_pick_up"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.cardpayment.CardPaymentActivity"
            android:label="@string/title_activity_card_payment"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.confirmandpay.ConfirmAndPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.confirmandpay.ConfirmAndPayActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.editprofile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.profile.ProfileActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.vehiclevaluation.VehicleValuationActivity"
            android:label="@string/title_activity_vehicle_valuation"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.valuatordetails.ValuatorDetailsActivity"
            android:label="@string/title_activity_valuer_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.findvaluer.FindValuerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.findvaluer.FindValuerActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.findvaluer.FindValuerActivity"
            android:label="@string/title_activity_find_valuer"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.policydetails.PolicyDetailsActivity"
            android:label="@string/title_activity_policy_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.insuranceproducts.InsuranceProductsActivity"
            android:label="@string/title_activity_insurance_products"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.paymentsuccessful.PaymentSuccessfulActivity"
            android:label="@string/title_activity_payment_successful"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.pay.PayActivity"
            android:label="@string/title_activity_pay"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.confirmandpay.ConfirmAndPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.confirmandpay.ConfirmAndPayActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.confirmandpay.ConfirmAndPayActivity"
            android:label="@string/title_activity_confirm_and_pay"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.identification.IdentificationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.identification.IdentificationsActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.identification.IdentificationsActivity"
            android:label="@string/title_activity_identifications"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.proofofownership.ProofOfOwnerShipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.proofofownership.ProofOfOwnerShipActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.insurancequotes.InsuranceQuotesActivity"
            android:label="@string/title_activity_insurance_quotes"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.vehicleinsurance.VehicleInsuranceActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.vehicleinsurance.VehicleInsuranceActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.proofofownership.ProofOfOwnerShipActivity"
            android:label="@string/title_activity_proof_of_owner_ship"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.qoutedetails.QuoteDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.qoutedetails.QuoteDetailsActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.contactus.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.qoutedetails.QuoteDetailsActivity"
            android:label="@string/title_activity_quote_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.vehicleinsurance.VehicleInsuranceActivity"
            android:label="@string/title_activity_vehicle_insurance"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.otp.OtpActivity"
            android:label="@string/title_activity_otp"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.login.LoginActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTop"
            android:parentActivityName="com.turnkeyafrica.bankassurance.ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.turnkeyafrica.bankassurance.ui.login.LoginActivity" />
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.splash.SplashActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.turnkeyafrica.bankassurance.ui.dashboard.DashboardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.turnkeyafrica.bankassurance"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

        <service
            android:name="com.turnkeyafrica.bankassurance.service.BankAssuranceMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>